<center>
  <h2><%= @drink.name %>s Information! </h2>
  <h4>
  Proof: <%= @drink.proof %>
  <br>
  Made In Mexico: <%= @drink.made_in_mexico %>
  <br>
  Drink ID: <%= @drink.id %>
  </h4>

  <%= link_to "Update #{@drink.name}", "/drinks/#{@drink.id}/edit" %>
  <br>
  <%= link_to "Delete #{@drink.name}", "/drinks/#{@drink.id}/destroy", data: { confirm: 'Are you sure?' } %>
</center>