<center><h2>BARS</h2>
  <% @bars.each do |bar| %>
    <br>
    Name: <%= bar.name %>
    <br>
    Minimum Age: <%= bar.minimum_age %>
    <br>
    Rating <%= bar.rating %>
    <br>
    Created At: <%= bar.created_at.strftime("%B %d, %Y %l:%M:%S %p") %>
    <br>
  <% end %>

  <%= link_to "Create New Bar", "/bars/new" %>

</center>