<center>
  <h2>Welcome To <%= @bar.name %>s Page!


  <h4>
    Minimum Age: <%= @bar.minimum_age %>
    <br>
    Rating: <%= @bar.rating %>
    <br>
    ID: <%= @bar.id %>
    <br>
    Number of Drinks Offered: <%= @bar.drink_count %>
  </h4>

  <%= link_to "See #{@bar.name}s Drinks" %>
</center>
