<center>
  <h2><%= @bar.name %>s Drinks Offered</h2>

  <% @drinks.each do |drink| %>
    <h4><br>
    Name: <%= drink.name %>
    <br>
    Proof: <%= drink.proof %>
    <br>
    Made In Mexico: <%= drink.made_in_mexico %>
    <br>
    </h4>
  <% end %>
  <br>
  <%= link_to "Add a drink to #{@bar.name}!", "/bars/#{@bar.id}/drinks/new" %>
</center>